@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
//variables
$main-color:#FAEBD7;
$blue: #6495ed;
$active-links: #DEB887;

//mixins
@mixin flex-container($axis, $wrap: nowrap) {
    display: -webkit-box;
       display: -webkit-flex;
       display: -ms-flexbox;
       display: flex;
       -webkit-flex-flow: $axis $wrap;
       -ms-flex-flow: $axis $wrap;
       flex-flow: $axis $wrap;
}

main{
    background-color: $main-color;
    margin:0 auto;
    padding:20px;
}

header{
    background-color: $blue;
    color:$main-color;
    text-align:right;
    padding:20px;
}
nav a{
    line-height: 2;
  
}
 nav ul li a,h1 a{
    text-decoration: none;
    color:$main-color;
    
}
nav a:active {
    color: $active-links;
    &:hover{
        color:white;
        text-decoration: underline;
    }
}

ul{
    list-style-type: none;
}
h1, h2{
    font-family: 'Lora', serif;
}
body{
    font-family:  Helvetica, Arial, sans-serif;
}
.post-content{
    justify-content: center;
}
article{
    background-color: white;
    padding:40px;
    margin-bottom:30px;
}
img{
    max-width:100%;
   
}

main a{
 text-decoration: none;
 color:black;
 &:hover{
    color: $blue;
    text-decoration: underline;
 }
 }

section a:visited{
    color: $blue;
    text-decoration: none;
    &:active{
        color: $active-links;
     }
     &:hover{
        text-decoration: underline;
     }
}

.post-date{
    color:grey;
}
.post-content h2 a{
    color:black;
    &:active{
        color: $active-links;
    }
    &:hover{
        color: $blue;
        text-decoration: underline;
    }
}


@media only screen and (min-width:65em){
    body div{
        @include flex-container(row,nowrap )
        

    }
    header{
        width:15%;
        padding:40px;
    }
    article{
        width:50%;
        margin:auto;
        margin-bottom:30px;
    }
    nav{
        white-space: nowrap;
    }
}