/*colors*/
$body-background-color: darkred;
$form-background-color:white;
$input-color:white;
$headlines-color:white;
//breakpoint sizes
$break-small: 20em;
$break-medium: 31em;
$break-large: 65em;
//mixins
@mixin breakpoint($break){
    @if $break == large{
        @media (max-width : $break-large) {@content;}
    }
    @else if $break == medium{
        @media (max-width: $break-medium) {@content;}
    }
    @else if $break == small {
        @media (max-widht: $break-small) { @content;}
    } @else{
        @media ($break) {@content;}
    }

    }

@mixin center($max-width, $width:90%){
    width: $width;
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
}
@mixin flex-container($axis, $wrap: nowrap) {
    display: -webkit-box;
       display: -webkit-flex;
       display: -ms-flexbox;
       display: flex;
       -webkit-flex-flow: $axis $wrap;
       -ms-flex-flow: $axis $wrap;
       flex-flow: $axis $wrap;
}


body{
    background-color: $body-background-color;
}
#contactform{
    background-color: $form-background-color;
    input, textarea{
        background-color: $input-color;
        flex:2;
    }
    @include breakpoint(medium) { @include center(700px)}
    @include breakpoint(large) {@include center(900px,70%)}
    }


fieldset > div{
    @include flex-container(row, wrap);
}

